@font-face {
    font-family: 'DLE';
    src: url('./fonts/dle.ttf') format('truetype');
}

:root {
    --blob-size: 350px;
}

.logo {
    font-family: 'DLE';
}

.logo-img {
    vertical-align: text-bottom;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(112, 128, 144, 0.609);
    border-radius: 20px;
}

.theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffffdf;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.2s ease;
}

.theme-toggle img {
    width: 50%;
    height: 50%;
}

.theme-toggle:hover {
    transform: scale(1.1);
}