---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import GradientBlur from "../components/gradient-blur.astro";
const matrix = "https://app.element.io/#/room/#librecube.org:matrix.org";
const openproject = "https://66222-44717.pph-server.de/";
const Mastodon = "https://fosstodon.org/@librecube";
const email = "mailto:announce@librecube.org";
const mailList =
    "https://mein.manitu.de/public/webhosting/mailinglist/?id=155931&auth=PJ8FXKDakBsV98T7JyhfFy8kQzqXVV7d";
---

<Layout title="LIBRECUBE">
    <!--hero section  -->
    <div class="relative" id="credits">
        <GradientBlur />
        <Container>
            <div class="relative pt-36 ml-auto">
                <div class="lg:w-11/12 mx-auto">
                    <h1
                        class="dark:text-white text-center font-bold text-4xl md:text-5xl xl:text-5xl"
                    >
                        Community
                    </h1>
                    <div
                        class="mt-8 p-4 text-2xl text-gray-900 dark:text-gray-100 pb-6"
                    >
                        <b>Online Discussions</b>
                        <br />
                        <br />
                        <p class="text-lg">
                            We use a <a
                                href={matrix}
                                class="underline decoration-2 decoration-green-500"
                                >Matrix Channel</a
                            >. It is an open network for secure, decentralized
                            communication.
                        </p>

                        <br /><br />

                        <b>Project Organization</b>
                        <br />
                        <br />
                        <p class="text-lg">
                            On our <a
                                href={openproject}
                                class="underline decoration-2 decoration-sky-500"
                                >OpenProject</a
                            > server we keep track of what is going on and who is
                            working on what.
                        </p>

                        <br /><br />

                        <b>Social Media</b>
                        <br />
                        <br />
                        <p class="text-lg">
                            Follow us via the free and decentralized <a
                                href={Mastodon}
                                class="underline decoration-2 decoration-purple-500"
                                >Mastodon</a
                            >.
                        </p>
                        <br /><br />

                        <b>Mailing List</b>
                        <br />
                        <br />
                        <p class="text-lg">
                            Receive updates via email and send emails to all
                            subscribed members. The address is <a
                                href={email}
                                class="underline decoration-2 decoration-sky-500"
                                >announce@librecube.org</a
                            >. To subscribe go <a
                                href={mailList}
                                class="underline decoration-2 decoration-sky-500"
                                >here.</a
                            >
                        </p>
                        <br /><br />

                        <b>Community Map</b>
                        <br />
                        <br />
                        <p class="text-lg">
                            The LibreCube community is growing and we come from
                            all parts of the world. Find out if there is someone
                            close to you, to help you get started.
                        </p>
                        <br />
                        <div class="rounded-lg overflow-hidden">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d164562.47043110867!2d8.359488267063574!3d49.874606634326874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd70641173cdd9%3A0x422435029b0c5f0!2sDarmstadt%2C%20Germany!5e0!3m2!1sen!2sin!4v1713865977288!5m2!1sen!2sin"
                                width="100%"
                                height="480"
                                style="border:0;"
                                allowfullscreen=""
                                loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </Container>
    </div>
</Layout>
