---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import GradientBlur from "../components/gradient-blur.astro";
---

<Layout title="LIBRECUBE">
    <!--hero section  -->
    <div class="relative" id="error">
        <GradientBlur />
        <Container>
            <div class="relative pt-36 ml-auto">
                <div class="lg:w-2/3 mx-auto">
                    <h1
                        class="dark:text-white text-center font-bold text-4xl md:text-5xl xl:text-6xl"
                    >
                        404 : Page not found
                    </h1>
                    <p class="text-center mt-12 text-xl dark:text-gray-300">
                        The page you are looking for does not exist.
                    </p>
                </div>
            </div>
        </Container>
    </div>
</Layout>
