---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import GradientBlur from "../components/gradient-blur.astro";
---

<Layout title="LIBRECUBE">
    <!--hero section  -->
    <div class="relative" id="imprint">
        <GradientBlur />
        <Container>
            <div class="relative pt-36 ml-auto">
                <div class="lg:w-2/3 mx-auto">
                    <h1
                        class="dark:text-white text-center font-bold text-4xl md:text-5xl xl:text-6xl"
                    >
                        Imprint
                    </h1>
                    <div
                        class="mt-8 p-4 rounded-md border-2 border-gray-600 border-solid text-xl text-gray-900 dark:text-gray-300"
                    >
                        <b>Information according to § 5 TMG</b>
                        <br />
                        <br />
                        <b>LibreCube e.V.</b>
                        <br />
                        Goethestr. 33b <br />
                        64347 Griesheim
                        <br />
                        <br />
                        <b>Represented by:</b>
                        <br />
                        Artur Scholz & Redouane Boumghar <br />
                        <br />
                        <b>Contact:</b><br />
                        Email: info@librecube.org <br /><br />
                        <b>Registry entry:</b><br /><br />
                        Entry in the commercial register: Darmstadt <br />

                        Register number: XXXXXX <br />
                        <b>VAT ID:</b><br />
                        VAT identification number according to §27a Value Added Tax
                        Act: XXXXX <br /><br />
                        <b>Business ID:</b><br />
                        XXXXX <br /><br />
                        <b>Supervisory authority:</b><br /> Aufsichtsbehörde Darmstadt
                        <br /><br />

                        <b>Disclaimer:</b>
                        <br />
                        <b>Liability for Content</b>
                        <br />
                        The contents of our pages have been created with the utmost
                        care. However, we cannot guarantee the accuracy, completeness,
                        and timeliness of the content. As a service provider, we
                        are responsible for our own content on these pages in accordance
                        with § 7 para. 1 TMG (German Telemedia Act) and general laws.
                        According to §§ 8 to 10 TMG, however, we are not obligated
                        as a service provider to monitor transmitted or stored third-party
                        information or to investigate circumstances that indicate
                        illegal activity. Obligations to remove or block the use
                        of information under general law remain unaffected. However,
                        liability in this regard is only possible from the time of
                        knowledge of a specific legal violation. Upon becoming aware
                        of such legal violations, we will remove this content immediately.
                        <br /><br />

                        <b>Data Protection</b>
                        <br />
                        The use of our website is usually possible without providing
                        personal information. To the extent that personal data (e.g.,
                        name, address, or email addresses) is collected on our pages,
                        this is always done on a voluntary basis, as far as possible.
                        This data will not be disclosed to third parties without
                        your explicit consent. We point out that data transmission
                        over the Internet (e.g., communication by email) can have
                        security gaps. Complete protection of data against access
                        by third parties is not possible. The use of contact data
                        published within the framework of the imprint obligation
                        by third parties for sending unsolicited advertising and
                        information materials is hereby expressly prohibited. The
                        operators of these pages expressly reserve the right to take
                        legal action in the event of unsolicited sending of advertising
                        information, such as spam emails.
                    </div>
                </div>
            </div>
        </Container>
    </div>
</Layout>
