---
import Features from "../components/Features.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import CallToAction from "../components/CallToAction.astro";
import Blog from "../components/Blog.astro";
---

<Layout title="LIBRECUBE">
	<main class="space-y-40 mb-40">
		<HeroSection />
		<Features />
		<Blog />
		<CallToAction />
	</main>
</Layout>
