---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import GradientBlur from "../components/gradient-blur.astro";
---

<Layout title="LIBRECUBE">
    <!--hero section  -->
    <div class="relative" id="credits">
        <GradientBlur />
        <Container>
            <div class="relative pt-36 ml-auto">
                <div class="lg:w-2/3 mx-auto">
                    <h1
                        class="dark:text-white text-center font-bold text-4xl md:text-5xl xl:text-6xl"
                    >
                        Site Credits
                    </h1>
                    <div
                        class="mt-8 p-4 rounded-md border-2 border-gray-600 border-solid text-xl text-center text-gray-900 dark:text-gray-300 pb-6"
                    >
                        <b>LibreCube is an open source project.</b>
                        <br />
                        <br />
                        <b
                            >We thank all the contributors for taking LibreCube
                            this far.</b
                        >
                        <br />
                        <br />
                        <b>Special thanks to</b>
                        <br />
                        Artur Scholz & Mentors <br />
                        <br />
                        <b class="dark:text-white text-grey-900"
                            >This page is made with love by</b
                        ><br />
                        <b
                            ><a
                                class="underline decoration-sky-500 dark:text-white text-grey-900"
                                href="https://github.com/codeintrovert">Hasan</a
                            >🥰
                        </b>
                        <br /><br />
                        <a
                            class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                            href="https://www.flaticon.com/free-icons/space"
                            title="space icons"
                            >Space icons created by Freepik - Flaticon</a
                        >
                        <a
                            class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                            target="_blank"
                            href="https://icons8.com/icon/88644/sun"
                            >Sun icon by Icons8</a
                        >
                    </div>
                </div>
            </div>
        </Container>
    </div>
</Layout>
