---
import Container from "./Container.astro";
const about = "https://librecube.gitlab.io/";
const imprint = "/imprint";
const blog = "https://fosstodon.org/@librecube";
const statute = "https://librecube.org/wp-content/uploads/2023/11/Statute.pdf";
const siteCredits = "/site-credits";
---

<!-- Foooter -->
<footer class="py-12 md:py-40 text-gray-800 dark:text-white">
  <Container>
    <!-- component -->

    <section>
      <div
        class="max-w-screen-xl px-4 py-6 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8"
      >
        <div class="flex justify-center">
          <a href="/" aria-label="logo" class="flex space-x-2 items-center">
            <span class="logo text-2xl text-gray-900 dark:text-white"
              >LIBRE<img
                src="/images/Cube.svg"
                alt="Logo"
                class="logo-img inline-block h-auto w-12"
              />CUBE
            </span>
          </a>
        </div>

        <nav class="flex flex-wrap justify-center -mx-5 -my-2">
          <div class="px-5 py-2">
            <a
              href={about}
              class="text-base leading-6 text-gray-500 hover:text-gray-900 dark:hover:text-gray-200"
            >
              About
            </a>
          </div>
          <div class="px-5 py-2">
            <a
              href={blog}
              target="_blank"
              class="text-base leading-6 text-gray-500 hover:text-gray-900 dark:hover:text-gray-200"
            >
              Blog
            </a>
          </div>
          <div class="px-5 py-2">
            <a
              href={imprint}
              class="text-base leading-6 text-gray-500 hover:text-gray-900 dark:hover:text-gray-200"
            >
              Imprint
            </a>
          </div>
          <div class="px-5 py-2">
            <a
              target="_blank"
              href={statute}
              class="text-base leading-6 text-gray-500 hover:text-gray-900 dark:hover:text-gray-200"
            >
              Statute
            </a>
          </div>
          <div class="px-5 py-2">
            <a
              href={siteCredits}
              class="text-base leading-6 text-gray-500 hover:text-gray-900 dark:hover:text-gray-200"
            >
              Site Credits
            </a>
          </div>
        </nav>

        <p class="mt-8 text-base leading-6 text-center text-gray-400">
          © 2024 LibreCube
        </p>
      </div>
    </section>
  </Container>
</footer>
