---
import Container from "./Container.astro";
const chat = "https://app.element.io/#/room/#librecube.org:matrix.org";
const learnMore = "https://librecube.gitlab.io/";
---

<!--hero section  -->
<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <Container>
    <div class="relative pt-36 ml-auto">
      <div class="lg:w-2/3 text-center mx-auto">
        <h1
          class="mt-8 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
        >
          <span class="text-primary font-bold dark:text-white">OPEN SOURCE</span
          ><br /> SPACE EXPLORATION
        </h1>
        <p class="mt-8 text-xl text-gray-700 dark:text-gray-300">
          An ecosystem of community-driven projects to enable everyone to
          develop and utilize space technology
        </p>
        <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
          <a
            href={chat}
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-semibold text-white"
              >Join Us</span
            >
          </a>
          <a
            href={learnMore}
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
          >
            <span
              class="relative text-base font-semibold text-primary dark:text-white"
              >Learn more</span
            >
          </a>
        </div>
      </div>
    </div>
    <!-- add mouse scroll animation here -->
  </Container>
</div>
