---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!DOCTYPE html>
<html lang="en" id="theme_toggle" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="LibreCube - OPEN SOURCE SPACE EXPLORATION"
		/>
		<title>LibreCube - OPEN SOURCE SPACE EXPLORATION</title>

		<link
			href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/styles.css" />
		<script type="module" src="/js/theme.js"></script>
	</head>

	<body class="bg-white dark:bg-gray-900">
		<button id="theme-toggle" class="theme-toggle">
			<img src="/images/icons/sun-icons8.svg" alt="Sun icon" />
		</button>
		<AppHeader />
		<slot />
		<AppFooter />
	</body>

	<style>
		html {
			font-family: Urbanist, sans-serif;
			scroll-behavior: smooth;
		}

		body {
			margin: 0;
		}
	</style>
</html>
